<html>
    <head>
        <title>Braden Lawrence</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
        <link rel="stylesheet" type="text/css" href="/css/slider.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

<body>

<div class="ui container">
  
    <div class="ui tiny menu">
      <div class="header item">
          <a href="/">
            <div class="logoFrame" id="logoFrame">
              <img id="logo" src="/images/logo.svg" width="40px">
            </div>
          </a>
      </div>
      <div class="right menu">
          <span class="item">
            lawrencebradenm@gmail.com
          </span>
          <a class="item" href="mailto:lawrencebradenm@gmail.com">
            <i class="mail icon"></i>
          </a>
          <a class="item" href="https://www.linkedin.com/in/braden-lawrence-042a1010/">
            <i class="Linkedin icon"></i>
          </a>
          <a class="item" href="https://github.com/BradenLawrence">
            <i class="Github Alternate icon"></i>
          </a>
      </div>
    </div>