<html>
    <head>
        <title>Braden Lawrence</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
        <link rel="stylesheet" type="text/css" href="/css/slider.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

<body>

<div class="ui container">
  
    <div class="ui menu">
      <div class="header item">
          <a href="/">
            <div class="logoFrame" id="logoFrame">
              <img id="logo" src="/images/logo.svg" width="40px">
            </div>
          </a>
      </div>
      <a class="item right">
        Contact
      </a>
    </div>