<html>
    <head>
        <title>Braden Lawrence</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

<div class="ui container">
  
    <div class="ui menu">
      <div class="header item">
        Braden Lawrence
      </div>
      <a class="item">
        Contact
      </a>
    </div>

    
    <div class="ui segment">
      <h3 class="ui header">User Experience</h3>
      <div class="ui link items">
        <div class="item">
          <div class="ui small image">
            <img src="http://i.imgur.com/ZU9nv0l.jpg">
          </div>
          <div class="content">
            <div class="header">weRead</div>
            <div class="meta">
              <span class="client">General Assembly</span>
              <span class="media">Axure, Invision</span>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula metus nulla, id elementum libero suscipit sit amet. Nullam sit amet erat et ligula hendrerit semper vel eget arcu. Nulla non venenatis nisi, in dapibus ipsum.</p>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="item">
          <div class="ui small image">
            <img src="http://i.imgur.com/ZU9nv0l.jpg">
          </div>
          <div class="content">
            <div class="header">Spark</div>
            <div class="meta">
              <span class="client">Safelight Security</span>
              <span class="media">Adobe Illustrator, Adobe InDesign</span>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula metus nulla, id elementum libero suscipit sit amet. Nullam sit amet erat et ligula hendrerit semper vel eget arcu. Nulla non venenatis nisi, in dapibus ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="ui segment">
      <h3 class="ui header">Graphic Design</h3>
      <div class="ui link items">
        <div class="item">
          <div class="ui small image">
            <img src="http://i.imgur.com/ZU9nv0l.jpg">
          </div>
          <div class="content">
            <div class="header">Mobile Bay</div>
            <div class="meta">
              <span class="client">Safelight Security</span>
              <span class="media">Adobe Illustrator</span>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula metus nulla, id elementum libero suscipit sit amet. Nullam sit amet erat et ligula hendrerit semper vel eget arcu. Nulla non venenatis nisi, in dapibus ipsum.</p>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="item">
          <div class="ui small image">
            <img src="http://i.imgur.com/ZU9nv0l.jpg">
          </div>
          <div class="content">
            <div class="header">The Sun, Moon, and Stars</div>
            <div class="meta">
              <span class="client">Project Lead The Way</span>
              <span class="media">Adobe Illustrator, Adobe InDesign</span>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula metus nulla, id elementum libero suscipit sit amet. Nullam sit amet erat et ligula hendrerit semper vel eget arcu. Nulla non venenatis nisi, in dapibus ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="ui segment">
      <h3 class="ui header">Web Development</h3>
      <div class="ui link items">
        <div class="item">
          <div class="ui small image">
            <img src="http://i.imgur.com/ZU9nv0l.jpg">
          </div>
          <div class="content">
            <div class="header">Camp Space</div>
            <div class="meta">
              <span class="client">Udemy</span>
              <span class="media">Node.js</span>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula metus nulla, id elementum libero suscipit sit amet. Nullam sit amet erat et ligula hendrerit semper vel eget arcu. Nulla non venenatis nisi, in dapibus ipsum.</p>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <div class="item">
          <div class="ui small image">
            <img src="http://i.imgur.com/ZU9nv0l.jpg">
          </div>
          <div class="content">
            <div class="header">Color Game</div>
            <div class="meta">
              <span class="client">Udemy</span>
              <span class="media">javaScript</span>
            </div>
            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula metus nulla, id elementum libero suscipit sit amet. Nullam sit amet erat et ligula hendrerit semper vel eget arcu. Nulla non venenatis nisi, in dapibus ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>