<% include partials/header %>

<div class="ui segments" id="sliderFrame">
    <div class="segmentHeader"><h3 class="ui header"><%= project.title %></h3></div>
    <div class="slider">
        <div class="slides">
            <% project.images.forEach(function(image){ %>
                <div class="slide-item ">
                    <div class="ui segments">
                        <div class="ui segment">
                            <img class="ui centered big image" src="<%= image.url %>">
                        </div>
                        <div class="ui segment">
                            <p><%- image.description %></p>
                        </div>
                    </div>
                </div>
            <% }) %> 
         </div>
    </div>
    <div class="ui segment">
        
    </div>
</div>

</div>


<% include partials/standardScripts %>
<script src="/js/glide.js"></script>
<script>
    var description = $("#description")
    var slider = $('.slider').glide({
      autoplay: false,
      arrowsWrapperClass: 'slider-arrows',
      arrows: '#sliderFrame',
      arrowRightText: '',
      arrowLeftText: ''
    })
</script>
<% include partials/footer %>