body {
    background-image: url("/images/tileGrid.png");
    background-color: #f0f0f3;
    overflow-y: scroll;
}

.ui.segments {
    margin-top: 45px;
}

h1.ui.header {
    margin: -5px 15px 38px 0;
    font-size: 2.75em;
}

h1.ui.header .sub.header {
    line-height: 1.48em;
    color: rgba(0, 0, 0, 0.87);
    font-size: .45em;
    text-align: left;
}

.ui.menu:first-child {
    height: 38px;
    border-radius: 0 0 0.15rem 0.15rem;
}

.ui.segment > .meta {
    margin-bottom: 0.6em;
    max-width: auto;
    font-size: 1em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.5);
}

.ui.segment {
    margin-bottom: 50px;
}

.ui.segment:last-of-type {
    margin-bottom: 60px;
}

.logoFrame {
    background-color: #222222;
    padding: 38px 8px 10px 10px;
    border-radius: 0 0 0.15rem 0.15rem;
}

.logoFrame > img {
    max-width: 40px;
}

.ui.menu .header.item:before {
    width: 0;
}

.segmentHeader {
    position: absolute;
    right: 10px;
    top: -25px;
    background-color: #222222;
    padding: 10px;
    border-radius: 0.15rem;
    z-index: 1;
}

.segmentHeader > .ui.header,
.projectLink > .ui.header {
    color: #ffffff;
}

.projectLink {
    position: relative;
    background-color: #222222;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 0.15rem;
    z-index: 9999;
    width: 75%;
    text-align: center;
}

.ui.items {
    margin-bottom: 200px;
}


@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 800px;
    }

}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .ui.container {
        width: 700px;
    }

}

@media only screen and (max-width: 991px) and (min-width: 768px){
    .ui.container {
        width: 600px;
    }

}