body {
    background-image: url("/images/tileGrid.png");
    background-color: #f0f0f3;
}

.ui.menu:first-child {
    max-height: 15px;
    margin-bottom: 70px;
    border-radius: 0 0 0.285714rem 0.285714rem;
}

.ui.segment > .meta {
    margin-bottom: 0.6em;
    max-width: auto;
    font-size: 1em;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.5);
}

.logoFrame {
    background-color: #222222;
    padding: 78px 8px 10px 10px;
    border-radius: 0 0 0.285714rem 0.285714rem;
}

.logoFrame > img {
    max-width: 40px;
}

.ui.menu .header.item:before {
    width: 0;
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 700px;
    }

}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .ui.container {
        width: 600px;
    }

}

@media only screen and (max-width: 991px) and (min-width: 768px){
    .ui.container {
        width: 500px;
    }

}